.mainarea{
    height: 500px;
    background-color: gray;
}

.leftmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
  background: #000000;  
background: -webkit-linear-gradient(to right, #434343, #000000); 
background: linear-gradient(to right, #434343, #000000); 
    position: fixed;
    height: 100%;
    overflow: auto;
}
li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
li a.active {
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
    text-decoration: none;
}
.dds_serial{
    background-color: #333;
    position: relative;
    background-image: url(Image/rawpixel-603649-unsplash.jpg);
}
.dds_serial h4{
    color: white;
    font-family: 'Spectral', serif;
}

.serialbox input[type=text]{
	
    border: none;
    
    padding-right: 50%;
    border-style: none;
    border-bottom: 1px solid gray;
}
.diseasebox{
	
    border: none;
    border-style: none;
    border-bottom: 1px solid gray;
}
.testbox{
	
    border: none;
    border-style: none;
    border-bottom: 1px solid gray;
}
.medicinebox{
	
    border: none;
    border-style: none;
    border-bottom: 1px solid gray;
}